@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background-color: #f9fafb;
  max-width: 750px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

.header {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.8rem;
  background-color: #ed4c8b;
  width: 100%;
}

.header nav {
  display: flex;
  align-items: center;
}

nav div {
  display: flex;
  align-items: center;
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 300;
}

.main {
  font-family: 'Gill Sans', sans-serif;
  background-color: #fc5193;
  min-height: calc(100svh - 51.5px);
}

.hero {
  height: 200px;
  background-color: #fc5193;
  display: flex;
}

.hero div {
  width: 50%;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

/* Pollutants */

.day > p {
  font-weight: bold;
}

.hero p:first-child,
.countryLink p:first-child {
  font-weight: bold;
}

.banner {
  background-color: #df4683;
  padding: 0.2rem 0.8rem;
  display: flex;
  align-items: center;
}

.countriesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  min-height: calc(100svh - (51.5px + 200px));
}

.countryLink {
  width: 50%;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0.8rem;
}

.countriesContainer .countryLink:nth-child(1),
.countriesContainer .countryLink:nth-child(4),
.countriesContainer .countryLink:nth-child(5) {
  background-color: #dd4782;
}

.countriesContainer .countryLink:nth-child(2),
.countriesContainer .countryLink:nth-child(3),
.countriesContainer .countryLink:nth-child(6) {
  background-color: #cf4378;
}

.arrowCircle {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}

.airIcon {
  width: 100%;
  height: 50%;
  margin-bottom: 2rem;
}

.linkText {
  text-align: end;
  line-height: 1;
}

/* Pollutants */

.day div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.forecastContainer > div:nth-child(odd) {
  background-color: #eb4a89;
}

.forecastContainer > div:nth-child(even) {
  background-color: #d2467b;
}

.day {
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0.8rem;
}

.chemName {
  text-transform: uppercase;
}
